<figure>
	<div class="image-view">
		<img src="http://placehold.it/555x400" alt="An image describing the expression">
	</div>
	<figcaption>
		<p class="english">{{english}}</p>
		<p class="french pull-right">{{french}}</p>
	</figcaption>
</figure>