.card
  if expression.snapshots.length > 0
    figure
      ul
        li
          - var imgSrc = "/images/snapshots/" + expression.snapshots[0]
            img(src=imgSrc, alt=expression.english)
  figcaption
    p.french
      a.expression-link(href="/expressions/" + expression.id)
        = expression.french
      input.edit(type="text", value=expression.french)
    p.english.pull-right
      a.expression-link(href="/expressions/" + expression.id)
       = expression.english
      input.edit(type="text", value=expression.english)