extends layout

block page-styles
  link(rel="stylesheet", href="/stylesheets/expressions.css", media="all")

block content
  .container
    .row
      .col-md-6.col-md-offset-3
        .card
          figure
            ul
              - for snapshot in expression.snapshots
                li
                  - var imgSrc = "/images/snapshots/" + snapshot
                    img(src=imgSrc, alt=expression.english)
          figcaption
            p.french
              = expression.french
            p.english.pull-right
              = expression.english
    .row
      .col-md-12
        