extends layout

block page-styles
  link(rel="stylesheet", href="/stylesheets/expressions.css", media="all")

block content
  #expressions.container.all
    .row
      each expression, idx in expressions
        .col-md-3
          .card
            figure
              if expression.snapshots.length > 0
                ul
                  - for snapshot in expression.snapshots
                    li
                      - var imgSrc = "/images/snapshots/" + snapshot
                        img(src=imgSrc, alt=expression.english)
              figcaption
                p.french
                  a(href="/expressions/" + expression.id)
                    = expression.french
                p.english.pull-right
                  a(href="/expressions/" + expression.id)
                   = expression.english
        //-
          .col-md-2
            span.delete.glyphicon.glyphicon-remove-circle(data-id=expression.id)
