extends layout

block page-styles
  link(rel="stylesheet", href="/stylesheets/expressions.css", media="all")

block content
  .container.expression
    .row.actions
      .pull-right
        button.save.btn.btn-default(type="button") Save
        button.edit.btn.btn-default(type="button") Edit
    .row
      .col-md-6.col-md-offset-3
        include includes/card
        