extends layout

block page-styles
  link(rel="stylesheet", href="/stylesheets/expressions.css", media="all")

block content
  #expressions.container.all
    .title.row
      .col-md-5
        h3 Français
      .col-md-5
        h3 English
      .col-md-2

    each expression in expressions
      .row
        - var link = "/expressions/" + expression.id
        .col-md-5
          a(href=link)
            = expression.french
        .col-md-5
          a(href=link)
            = expression.english
        .col-md-2
          span.delete.glyphicon.glyphicon-remove-circle(data-id=expression.id)
