extends layout

block page-styles
  link(rel="stylesheet", href="/stylesheets/expressions.css", media="all")

block content
  #expressions.container.expression.index
    - while (expressions.length > 0)
      - var row = expressions.splice(0, 4)
      .row
        each expression in row
          .col-md-3
            include includes/card
