extends layout

block page-styles
  link(rel="stylesheet", href="/stylesheets/expressions.css", media="all")

block content
  .container.all
    .row
      .col-md-5
        h3 French
      .col-md-5
        h3 English
      .col-md-2

    each expression in expressions
      .row
        .col-md-5
          = expression.french
        .col-md-5
          = expression.english
        .col-md-2
          span.glyphicon.glyphicon-remove-circle