extends layout

block content
	.container
		.row
			.col-md-12
				h1= title
		.row
			#content.inset.col-md-12
				form#translator(action="/expressions", method="post")
					div.form-group
						label A phrase in English
						input.form-control.english(type="text", placeholder="A phrase in english", name="english")
					div.form-group
						label Une expression écrite en français
						input.form-control.french(type="text", placeholder="Une phrase en français", name="french")
					button.btn.btn-default(type="submit") Submit
