extends layout

block content
	.container
		.row
			.col-md-12
				h1= title
		.row
			#content.inset.col-md-6
				form#translator(action="/expressions", method="post")
					div.form-group
						label A phrase in English
						input.form-control.english(type="text", placeholder="eg. I really love cake", name="english")
					div.form-group
						label Une expression française
						input.form-control.french(type="text", placeholder="ex. J'aime bien le gâteau", name="french")
					button.submit.btn.btn-default.pull-right(type="submit") Submit
			.col-md-6
				figure
					.image-view
						img(src="http://placehold.it/555x400", alt="An image describing the expression")
					figcaption
						p.english I really love cake
						p.french.pull-right J'aime bien le gâteau