body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.inset {
  padding: 35px;
}

.phrase {
  text-indent: 10px;
}

#translator .submit {
  margin-top: 10px;
}